/* Background pattern from Toptal Subtle Patterns */
body
{
    background-image: url("back.png");
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container
{
    max-width: 1500px;
    margin: 0px auto;
        
}

#header
{
    display: flex;
    justify-content: space-between;
        
}

h1
{
    font-size: 45px;
}

nav
{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    color: mistyrose;   
}

#rectangle2
{
    text-align: end;
    margin: 10px;
}

.tile1
{
    width: 250px;
    height: 104px;
    background-color:#993399 ;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    
}

.tile1:hover
{
    background-color: #882288;
}

.tile2
{
    
    width: 250px;
    height: 104px;
    background-color: #009973;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    
}
.tile2:hover
{
    background-color: #008862;
}

.tile3
{
    
    width: 250px;
    height: 104px;
    background-color: #ffa31a;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    
}
.tile3:hover
{
    background-color: #ff9900;
}

.tile4
{
    
    width: 250px;
    height: 104px;
    background-color: #ff531a;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    
}
.tile4:hover
{
    background-color: #ff4000;
}

#squaremain
{
    display: flex;
    justify-content: space-between;
    flex: 0 1 50%;
}

#tile5
{
    
    width: 700px;
    height: 725px;
    background-color: #e68a1a;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    
}

#square2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

#tile6
{
    width: 700px;
    height: 570px;
    background-color: #5744d1;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    padding: 30px;
}

.social
{
    width: 760px;
    height: 104px;
    display: flex;
    justify-content: space-between;
}

.fb
{
    
    width: 350px;
    height: 104px;
    background-color: #4668b3;
    text-align: center;
}
.fb:hover
{
    background-color: #3557c2;
}

.gh
{
    
    width: 350px;
    height: 104px;
    background-color: black;
    text-align: center;
}
.gh:hover
{
    background-color: #222222;
}

a.tilelinkhtml5
{
    color: #ffffff;
    text-decoration: none;
}

